<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="wrapper container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/books">Welcome, {{ request.session.username }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                </ul>
                <span class="navbar-text"><a class="navbar" href="/books">Home</a></span>
                <span class="navbar-text"><a class="navbar" href="/books/profile/{{logged_user.id}}">Profile</a></span>
                <span class="navbar-text"><a class="btn btn-sm btn-light text-dark" href="/logout" role="button">Log out</a></span>
            </div>
        </nav>

        {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li>{{ message }}</li>    
                {% endfor %}
            </ul>
        {% endif %}

        <div class="row">
            <div class="col p-4 m-1">
                <h2 class="display-7">Add A Favorite Book</h2>
                <form action="/books/create" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        Title:<input type="text" class="form-control" name="title">
                        Description:<textarea class="form-control rounded-0" rows="3" name="desc"></textarea>
                        <input type="hidden" name="id" value="request.session['user_id']">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="col p-4 m-1">
                <h2 class="display-7">All Books</h2>
                {% for book in all_books %}
                <div class="form-group">
                    <a href="/books/{{book.id}}"><h4 class="d-inline mr-5">{{book.title}}</h4></a>
                    <p>(added by {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }})</p>
                    {% if logged_user not in book.liked_by.all %}
                        <a href="/books/favorite/{{book.id}}">Add to Favorites!</a>
                    {% else %}
                        <p><small>This is one of your favorites! | <a href="/books/destroy_favorite/{{book.id}}">Unfavorite</a></small></p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>
